$color-primary: #5b92e5;

$color-dark-border: #121212;
$color-bg-screen: #212121;
$color-bg-app: #323232;
$color-bg-view: #434343;
$color-bg-content: #616161;

$color-state-error: #B41E1E;
$color-state-warning: #DE8B0F;
$color-state-success: #11882E;
